$height: 100%;
$per-val: 500px;

html,body{
    height:$height;
    margin:0px;
}

.type-pers-parent {
    perspective: $per-val;
    -webkit-perspective: $per-val;
    height: $height;
    background-color: #222;
    overflow: hidden;
    padding:0px;
}

.type-pers-child {
    height:$height;
    text-align: justify;
    padding: 5%;
    -webkit-animation: typetext linear 10s infinite;
    color: #F1C40F;
    letter-spacing: 1px;
    p{
	position:relative;
	top:200px;
    }
}
 
@-webkit-keyframes typetext {
    0% {
	transform: rotateX(25deg) translate(0,0px);
    }
    100% {
	transform: rotateX(25deg) translate(0,-600px);
    }
}
